footer {
    text-align: center;
    color: aquamarine;
}

div {
    border: #0d0d0d;
    text-align: left;
}

h3 {
    text-shadow: #0d0d0d;
}

a {

}
.back {
    display: block;
    float: right;
    background-color: #000000;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin: 0.6em auto;
  display: block;
}


#blogPostContent {
        background-color:	#a5a5a5;
        border: 1px solid #0d0d0d;
        border-radius: 8px;
        box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
          rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
        margin: 60px auto;
        padding: 10px;
        width: 60vw;
        display: block ;
        text-align: left;
}